<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <script th:src="@{/statics/libs/jquery.min.js}"></script>
    <script th:src="@{/statics/libs/bootstrap.min.js}"></script>
    <script th:src="@{/statics/plugins/layer/layer.js}"></script>
    <script th:src="@{/statics/libs/vue.min.js}"></script>
    <script th:src="@{/statics/plugins/ztree/jquery.ztree.all.min.js}"></script>
    <script th:src="@{/statics/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script th:src="@{/statics/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/statics/plugins/treegrid/jquery.treegrid.min.js}"></script>
    <script th:src="@{/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js}"></script>
    <script th:src="@{/statics/plugins/treegrid/jquery.treegrid.extension.js}"></script>
    <script th:src="@{/statics/plugins/treegrid/tree.table.js}"></script>
    <script th:src="@{/statics/plugins/validator/validator.js}"></script>
    <script th:src="@{/statics/plugins/laydate/laydate.js}"></script>
    <script th:src="@{/statics/js/common.js}"></script>
    <script th:src="@{/statics/js/form.js}"></script>
</div>
</body>
</html>